.gameWindow {
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: 2em;
}

  /* uses CSS grid to create a container for the board */
.board {
  --border-styles: 10px var(--off-color) solid;
  min-height: 600px;
  min-width: 600px;
  
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 3 columns */
  grid-template-rows: repeat(8, 1fr); /* 3 rows */
}

/* a single grid of the board */
.boardSpace {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  background-color: burlywood;
}

.activeSpace {
  background-color: #6e2c00;
} 