.window {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2em;
}

/* uses CSS grid to create a container for the board */
.board {
    --border-styles: 10px var(--off-color) solid;
    min-height: 600px;
    min-width: 600px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows */
}


/* a single grid of the board */
.boardSpace {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.boardSpace:nth-child(2), 
.boardSpace:nth-child(8) {
    border-left: var(--border-styles); 
    border-right: var(--border-styles);
}

.boardSpace:nth-child(4),
.boardSpace:nth-child(6) {
    border-top: var(--border-styles);
    border-bottom: var(--border-styles);
}

.boardSpace:nth-child(5) {
    border-left: var(--border-styles);
    border-right: var(--border-styles);
    border-top: var(--border-styles);
    border-bottom: var(--border-styles);
}